body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin-bottom: 100%;
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
    background-repeat: no-repeat;
    cursor: default;
    text-justify: auto;
    
}

#overlay {
    background-color: rgb(255, 255, 255);
    background-image: url(../img/loading-buffering.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

#main{
    
    padding: 5%;
    text-align: center;
}
#main p{
    display: inline-block;
}

#inputs {
    background-color: transparent;
    border: transparent;
}

footer {
    margin-top: 20%;
    font-size: 50%;
    text-align: center;
    background-position: center;
}