body {
    margin: auto;
    padding: auto;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: default;
    text-align:center;
    text-justify: auto;
    clear: both;
}

#overlay{
    display: show;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url(../img/loading-buffering.gif);
    background-position: center;
    background-color: rgb(37, 37, 37);
    background-repeat: no-repeat;
    background-size: 30px;
}
#overlay p {
    color: white;
    margin-top: 26%;
} 

nav {
    padding: 2px 0;
    z-index: 2;
    text-align: center;
}
nav ul li{
    font-size: 16px;
    margin: 5px;
    margin-right: 10px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
nav a{
    font-size: 17px;
    transition: 0.05s ease-in;
    transition: 0.15s ease-out;
    text-decoration: none;
    color: rgb(37, 37, 37);
}
nav a:hover {
    color: rgb(0, 0, 0);
}

header p, header b{
    color: rgb(37, 37, 37);
    font-weight: 400;
}

#main{
    display: inline-block;
    text-align: center;
}
#main p{
    margin: auto;
    margin: 10px 0;
    text-align: center;
    border: 1px solid black;
    
}

#inputs {
    background-color: transparent;
    border: transparent;
}

#content p{
    color: rgb(37, 37, 37);
}

footer {
    margin-top: 20%;
    font-size: 8px;
    text-align: center;
}